<body>
    <section>
      <h2>Lenguajes de Programación</h2>
      <ul>
        <li>
          <img src="https://cdn4.iconfinder.com/data/icons/file-types-5/96/document_file_extension_format_type_pyhton-512.png" alt="Correo electrónico" class="logo">
          Python
        </li>
        <li>
          <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/181_Java_logo_logos-512.png" alt="Correo electrónico" class="logo">
          Java
        </li>
        <li>
          <img src="https://cdn4.iconfinder.com/data/icons/coding-files-extensions/512/coding-file-extension-c-2-512.png" alt="Correo electrónico" class="logo">
          C
        </li>
        <li>
          <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="Correo electrónico" class="logo">
          JavaScript
        </li>
      </ul>
      <h2>Tecnologías Web</h2>
      <ul>
        <li>
          <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-512.png" alt="Correo electrónico" class="logo">
          HTML
        </li>
        <li>
          <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-512.png" alt="Correo electrónico" class="logo">
          CSS
        </li>
        <li>
          <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/node-512.png" alt="Correo electrónico" class="logo">
          Node
        </li>
      </ul>
      <h2>Bases de Datos</h2>
      <ul>
        <li>
          <img src="https://cdn2.iconfinder.com/data/icons/file-formats-3-1/100/file_formats3_sql-512.png" alt="Correo electrónico" class="logo">
          SQL
        </li>
        <li>
          <img src="https://cdn4.iconfinder.com/data/icons/logos-3/512/mongodb-2-512.png" alt="Correo electrónico" class="logo">
          MongoDB
        </li>
      </ul>
    </section>
  