html {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding-bottom: 100px; /* altura mínima del footer */
  min-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f3f1d4;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #8a247c;
}

