<body>
    <section>
        <h2>ITESO</h2>
      <h2>Instituto Tecnológico de Estudios Superiores de Occidente</h2>
      <ul>
        <li>
          
          Ingrese a la carrea de ingeniería en Sistemas Computacionales en Agosto del 2020. Mi plan de carrera es terminar en Diciembre 2024.
        </li>
        <li>
            <img src="https://iteso.mx/image/journal/article?img_id=18780757&t=1578594024540" alt="Correo electrónico" class="logo">
        </li>
       
      </ul>
   
      
    </section>
  