 <header>
            <h1>Valeria Ramírez López</h1>
            <nav>
                <h1>Menú de navegación</h1>
                <ul>
                    <li> <a href="http://localhost:3000/">Pagina principal</a></li>
                    <li><a href="http://localhost:3000/pagina2">Pagina 2</a></li>
                    <li><a href="http://localhost:3000/pagina3">Pagina 3 </a></li>           
                </ul>
            </nav>
        </header>
        <div class="centro">
            <main>    
                <article>
                    <h1>Esto es lo que hago actualemnte...</h1>
                    <section>
                        <h2>Etoy en mi 6to semestre de Ingenieria en Sistemas Computacionales. Me encanta programar y las bases de datos.</h1>
                    </section>
                    <section>
                        <h2>Mi novio es organizador de eventos (BLOOM Graduaciones). Actualmente trabajo con el.
                            La verdad me gusta mucho.
                    </section>
                    <section>
                        <h2>También me encantan los niños y poder enseñar. Es por ello que soy niñera y auxiliar en una iglesia cristiana todos
                            los domingos.
                        </h1>
                    </section>
                </article>     
            </main>
            
        </div>