<header>
            <h1>Valeria Ramírez López</h1>
            <nav>
                <h1>Menú de navegación</h1>
                <ul>
                    <li> <a href="http://localhost:3000/">Pagina principal</a></li>
                    <li><a href="http://localhost:3000/pagina2">Pagina 2</a></li>
                    <li><a href="http://localhost:3000/pagina3">Pagina 3 </a></li>           
                </ul>
            </nav>
        </header>
        <div class="centro">
            <main>    
                <article>
                    <h1>Un poco sobre mi...</h1>
                    <section>
                        <h2>
                            ¡Hola! Soy Valeria, muchos me conocen como Yeya. Tengo 21 años. Algunos de mis Hobbies son jugar volley, patinar, ver titkoks. </h1>
                    </section>
                    
                </article>     
            </main>
            <aside class="info_personal">
                <h1></h1>
           
                <section id="segundo">
                    <h1 id="info_personal">
                        <section>
                            <img src="../assets/foto.jpeg" id="vale-foto1">
                    </section>
                </section>
            </aside>
        </div>