<header>
            <h1>Valeria Ramírez López</h1>
            <nav>
                <h1>Menú de navegación</h1>
                <ul>
                    <li> <a href="http://localhost:3000/">Pagina principal </a></li>
                    <li><a href="http://localhost:3000/pagina2">Pagina 2</a></li>
                    <li><a href="http://localhost:3000/pagina3">Pagina 3 </a></li>           
                </ul>
            </nav>
        </header>
        <div class="centro">
            <main>    
                <article>
                    <h1>Tarea 3</h1>
                    <section>
                        <h2>Objetivo:   Desarrollar una aplicación web mediante node.js para desplegar el contenido de un sitio estático.
                            Endopoints: localhost:3000, localhost:300/pagina2 y localhost:300/pagina3
                        </h1>
                    </section>
                    
                </article>     
            </main>
            <aside class="info_personal">
                <h1></h1>
           
                <section id="segundo">
                    <h1 id="info_personal">
                        La tarea se genero a través de 3 endopoints, los cuales son accesibles a través del menú de navegación
                </section>
            </aside>
        </div>