<header>
  <div class="search-bar">
    <form id="formularioBusqueda" onsubmit="buscarNoticias(); return false;">
      <input type="text" id="busqueda" class="search-input" placeholder="Buscar noticias...">
      <button class="search-button" type="submit">Buscar</button>
    </form>
  </div>
</header>

<main>
  <div class="noticias-container">
    {{#each APINoticias}}
      <div class="noticia">
        <img src={{urlToImage}} alt="imagen de noticia">
        <h2>{{title}}</h2>
        <a href="{{url}}" target="_blank">Leer más</a>
      </div>
    {{/each}}
  </div>
</main>



<script>
function buscarNoticias() {
  let resultadosBusqueda = document.getElementById('busqueda').value;
  window.location.href = '/noticias?q=' + encodeURIComponent(resultadosBusqueda);
}
</script>
