<body>
    <section>
      <h2>Proyectos más sobresalientes...</h2>
      <table>
        <tr> <h5>Silther.io</h5></tr>
        <tr>
          <td><img src="https://cdn0.iconfinder.com/data/icons/games-and-toys-4/16/game_toy_console_joystick_playstation_videogame-512.png" alt="Correo electrónico" class="logo"></td>
          <td>Juego desarrollado en C. Estructuras de datos.Se basa en el tradicional juego, donde el gusano va creciendo según consume comida.</td>
        </tr>
        <tr> <h5>VAN Task Manager</h5></tr>
        <tr>
          <td><img src="https://cdn2.iconfinder.com/data/icons/basic-flat-icon-set/128/tick-512.png" alt="Github" class="logo"></td>
          <td>Aplicación WEB que te permite rganizar tus actividades pendientes. MongoDB, Node.</td>
          
        </tr>
        <tr> <h5>API de Álgebra Lineal</h5></tr>
        <tr>
            <td><img src="https://cdn4.iconfinder.com/data/icons/school-education-14/512/Icon_3-512.png" alt="Link" class="logo"></td>
            <td>API en JAVA. Desarrollando toda el paradgima orientdaod a objetos.</td>
          </tr>
        
       
      </table>
     
    </section>
</body>
  