<!DOCTYPE html>
<html>
<head>
	<title>Tarea 4 Val</title>
  <link rel="stylesheet" href="assets\estilos.css";
</head>

<body>
	<header>
		<h1>Valeria Ramirez</h1>
	</header>

	{{{body}}}

	<footer>
		<p>Tarea 4 2023 Valeria Ramirez</p>
	</footer>
</body>



