<body>
	<section class="main-section">
		<div class="profile">
			<div class="profile-picture">
				<img src="assets/yeya.jpeg" alt="Mi Foto">
			</div>
			<div class="profile-details">
				<h1>Valeria Guadalupe Ramírez López</h1>
				<h2>Estudiante de Ingeniería en Sistemas Computacionales</h2>
			</div>
		</div>
		<div class="content">
			<div class="section-title">
				<h2>Algo sobre mi...</h2>
				<p>Hola! Soy Valeria, muchos me conocen como Yeya. Tengo 21 años y estoy cursando mi 6to semstre en la carrera.</p>
			</div>
			<div class="section-content">
				<!-- Aquí va el contenido del perfil -->
			</div>
			<div class="section-title">
				<h2>Lo que hago actualmente...</h2>
				<p>En mis tiempos "libres" soy niñera. También trabajo realizando eventos sociales. Sobre todo graduaciones.</p>
			</div>
			
			
			
			
		</div>
	</section>
</body>
